# Automatsko upravljanje linijskim završecima za tekstualne fajlove
* text=auto

# Tretiramo ove vrste fajlova kao binarne
*.png binary  # Slike u PNG formatu
*.jpg binary  # Slike u JPG formatu
*.mp3 binary  # Audio fajlovi u MP3 formatu
*.mp4 binary  # Video fajlovi u MP4 formatu
*.pdf binary  # PDF dokumenti
*.doc binary  # Microsoft Word dokumenti
*.exe binary  # Izvršni fajlovi
*.zip binary  # ZIP arhive
*.tar.gz binary  # TAR.GZ arhive
*.rar binary  # RAR arhive

# Tretiramo ove vrste fajlova kao tekstualne
*.md text  # Markdown fajlovi
*.json text  # JSON fajlovi
*.xml text  # XML fajlovi
*.yml text  # YAML fajlovi
